body {
    margin: 0px;
    min-height: 100vh;
}

#main_window{
    display: flex;
    flex-direction: column;
    height: 100vh;
    text-align: center;
    background-color: tomato;
}

#text {
    margin: auto;
    font-size: larger;
    font-weight: bold;
    color: black;
    user-select: none;
}

#audios{
    display: none;
}

#mutebtn {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3vh;
    background-color: rgb(46, 44, 44);
    color: white;
    font-weight: lighter;
    font-size: small;
}

